<!DOCTYPE html>

<html>
    <head>
        <title>Recipe Suggestions</title>
        <h1>What do you want to make today?</h1>
        <link rel="stylesheet"  href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <form action="/recipe" method = "GET"> 

            <div class='parent flex-parent' style="justify-content:space-around">

                <div class='child flex-child'>
                    <h2>Cuisine</h2>
                    <select name="cuisine" id="cuisine">
                        <option value="Any">Any</option>
                        <option value="American">American</option>
                        <option value="Asian">Asian</option>
                        <option value="Italian">Italian</option>
                        <option value="Mediterranean">Mediterranean</option>
                        <option value="Other">Other</option>
                    </select>   
                </div>
                    
                <div class='child flex-child'>
                    <h2>Category</h2>
                    <select name="category" id="category">
                        <option value="Any">Any</option>
                        <option value="Main">Main</option>
                        <option value="Side">Side</option>
                        <option value="Appetizer">Appetizer</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                    </select>  
                </div>

                <div class='child flex-child'>
                    <h2>Rating</h2>
                    <select name="rating" id="rating">
                        <option value="1">> 1 star</option>
                        <option value="2">> 2 stars</option>
                        <option value="3">> 3 stars</option>
                        <option value="4">> 4 stars</option>
                    </select>
                </div>
                
                <div class='child flex-child'>
                    <h2>Cook Time</h2>
                    <select name="cooktime" id="cooktime">
                        <option value=2,0>2 hours or less</option>
                        <option value=1,0>1 hour or less</option>
                        <option value=0,30>30 minutes or less</option>
                        <option value=3,0>Greater than 2 hours</option>
                    </select>
                </div>

                <div class='child flex-child'>
                    <h2>Ingredients</h2>
                    <input type="text" id="ing" name="ing">
                </div>

                <div class='child flex-child'>
                    <input type = "submit" value = "submit">
                </div>
            </div>
        </form>

        <div id='recipes'>
            <h1>Recipe Collection</h1>
            <br>
            <div class = 'parent flex-parent' style="justify-content: space-evenly">
                {% for item in data %}
                {% set url = item[1] %}
                {% set img = item[2] %}
                <div class='child flex-child cap'>
                <a href={{url}} target="_blank">{{item[0]}}</a>
                <img style="object-fit: contain" src={{img}}>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>

</html>