<!DOCTYPE html>

<html>
    <head>
        <title>Recipe Suggestions</title>
        <h1>What do you want to make today?</h1>
    </head>
    <body>
        <h2>Pick a cuisine</h1>            
            <button>Mexican</button>
            <button>Italian </button>
            <button>American</button>
            <button>Mediterranean</button>
            <button>Costa Rican</button>
            <button>Middle Eastern</button>
            <button>Israeli</button>
            <button>Californian</button>
            <button>Peruvian</button>
            <button>Lebanese</button>
            <button>Asian</button>
            <button>Vegan</button>
            <button>Southwestern</button>
            <button>Spanish</button>
            <button>Southern</button>
            <button>Greek</button>
            <button>Thai</button>
            <button>Brazilian</button>
            <button>Gluten free</button>
            <button>Vegetarian</button>
            <button>Swiss</button>
            <button>Irish</button>
            <button>Tex-Mex</button>
            <button>Indian</button>
            <button>Classic</button>
            <button>French</button>
            <button>Argentine</button>
            <button>Indian-inspired</button>
            <button>Chinese</button>
            <button>Japanese</button>
            <button>French-inspired</button>
            <button>African</button>
            <button>Belizean-inspired</button>
            <button>Cuban</button>
            <button>Tuscan</button>
            <button>Whole grain</button>
            <button>Vietnamese</button>
        
        <h2>Pick a category</h2>
            <button>Dip</button>
            <button>Salad</button>
            <button>Appetizer</button>
            <button>Sauce</button>
            <button>Side Dish</button>
            <button>Breakfast</button>
            <button>Snack</button>
            <button>Salad Dressing</button>
            <button>Main</button>
            <button>Soup</button>
            <button>Entree</button>
            <button>Salsa</button>
            <button>Appetizer/Entree</button>
            <button>Dessert</button>
            <button>Baked goods</button>
            <button>Muffins</button>
            <button>Quick Bread</button>
            <button>Cookie</button>
            <button>Cocktail</button>
            <button>Smoothie</button>
            <button>Muffin</button>
            <button>Side</button>
            <button>Condiment</button>
            <button>Pickles</button>
            <button>Condiments</button>
            <button>Stew</button>
            <button>Pasta</button>
            <button>Sandwich</button>
            <button>Veggie burger</button>
            <button>Pizza</button>
            <button>Drink</button>
            <button>Cocktails</button>
            <button>Beverages</button>
            <button>Staple</button>
            <button>Candy</button>        

        <h2>Pick a rating</h2>
            <button>> 1 star</button>
            <button>> 2 stars</button>
            <button>> 3 stars</button>
            <button>> 4 stars</button>

        <h2>Pick cooking time</h2>
            <button onclick="">Greater than 2 hours</button>    
            <button>Less than 2 hours</button>
            <button>Less than 1 hour</button>
            <button>Less than 30 minutes</button>
        
        < 
        
    </body>
</html>